<!doctype html>
<html>
<head>
    <title>bw-page-mostpopular</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- mext hd -->
</head>

<body>
  <!-- mount point -->
  <div id="app"></div>

  <!-- react.libs -->
  <script src="//g.alicdn.com/alife/??react/15.3.0/react-with-addons.js,react-dom/15.3.0/react-dom.js"></script>
  <!-- bundle.js -->
  <script src="./index.js" async></script>
</body>
</html>
